<div fxLayout="row" fxLayoutAlign="center center" style="height: 80vh;">
    <mat-card style="margin: 0px 16px;">
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
                <mat-icon color="warn" class="error-icon" >error</mat-icon>
                <div class="error-msg mat-display-1" >La page que vous recherchez n'éxiste pas</div>
                <button mat-raised-button color="primary" (click)="goBack()" >Revenir en arrière</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>